*.egg-info

**/__pycache__

workspace_cache/

XAgent/logs/
running_records/

XAgentServer/localstorage
XAgentServer/logs/
XAgentServer/application/core/prod_server_envs.py

.DS_Store
.DS_Store
**/.DS_Store
.DS_Store?


.vscode
.idea
*_running_records

**/yarn-error.log
**/yarn.lock
**/node_modules
**/package-lock.json


data/**
data/server.db
ToolServerNode/logs/**
**/workspace/**
download_tmp_file
local_workspace/**
!local_workspace/readme.md
sync.py
logs/**